*{
  position:fixed;
  inset:0;

  opacity:.035;

  background-image:url("https://grainy-gradients.vercel.app/noise.svg");

  z-index:9;

  pointer-events:none;
}

@keyframes spin{

  from{
    transform:rotateY(0deg) rotateX(8deg);
  }

  to{
    transform:rotateY(360deg) rotateX(8deg);
  }

}

@keyframes float1{

  0%{
    transform:translateY(0px) rotate(-18deg);
  }

  50%{
    transform:translateY(-12px) rotate(-15deg);
  }

  100%{
    transform:translateY(0px) rotate(-18deg);
  }

}

@keyframes float2{

  0%{
    transform:translateY(0px) rotate(15deg);
  }

  50%{
    transform:translateY(10px) rotate(18deg);
  }

  100%{
    transform:translateY(0px) rotate(15deg);
  }

}

@media(max-width:600px){

  .scene{
    scale:.9;
  }

  .cat{
    width:100px;
  }

  .flower1{
    width:220px;
  }

  .flower2{
    width:210px;
  }

}